.transaction-card-main-container {
  background-color: white;
  margin: 20px 50px;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
  position: relative;
  transition: box-shadow 0.3s ease;


}

.transaction-card-main-container:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.transaction-card-title {
  font-size: 25px;
  font-weight: 600;
  color: #333;
  margin: 0;
  padding-bottom: 12px;
  border-bottom: 1px solid #ddd;
}

.transaction-card-date {
  display: block;
  font-size: 16px;
  color: #999;
  margin: 6px 0;
}

.transaction-card-category {
  display: block;
  font-size: 16px;
  color: #666;
  margin: 6px 0;
}

.transaction-card-amount {
  font-size: 23px;
  font-weight: 700;
  margin: 12px 0;
  display: block;
}

.transaction-card-delete {
  background-color: #ff4d4d;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.transaction-card-delete:hover {
  background-color: #e60000;
  transform: scale(1.05);
}