.home-greating {
    color: red;
    font-size: 30px;
    margin: 0;
    padding-left: 10px;
    
}

.home-heading {
    font-size: 20px;
    margin: 0;
    font-size: 25px;
    padding-left: 10px;
}

.home-logout {
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 20px;
    color: red;
}

.net-transactins-value {
    display: flex;
    justify-content: space-around;
    margin: 10px auto;
}

.net-transactins-value-item {
    width: 250px;
    height: 120px;
    background-color: white;
    box-shadow: 0px 0px 5px 1px grey;
    border-radius: 5px;

}

.net-transactins-value-title {
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: bold;

}

.net-transactins-value-amount {
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding-top: 30px;
   
}

.transactios-container {
    height: 76vh;
    overflow-y: scroll;
    
}

.add-transactions {
    height: 40px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    background-color: #fff;
    padding: 5px;
    border-radius: 40px;
    border: 2px solid black;
    cursor: pointer;

}

.add-transactions:hover {
    background-color: #99ddff;
}