.signup-form{
    width: 25%;
    height: 40vh;
    border: 5px double #33bbff;
    padding: 20px;
    display: block;
    margin: 0px auto;
    border-radius: 5px;
    background-color:#99ddff;
}
.signup-heading{
    text-align: center;
    font-size: 30px;
    margin-top: 7%;

}