.signup-main-container {
    background-color: white;
    width: 30%;
    height: 75vh;
    margin: 90px auto;
    border-radius: 10px;
    position: relative;
    box-shadow: 0px 0px 10px 1px grey;
}
.signup-headining{
text-align: center;
padding-top: 30px;
}
.Logo-icon{
    height: 120px;
    position: absolute;
    top: 2px;
    left: 25px;
}

.signup-form {
    background-color: white;
    height: 47vh;
    display: block;
    justify-content: center;
    padding: 30px;
}

.signup-input{
    display: block;
    margin: 20px auto;
    width: 100%;
    border: 2px solid #33bbff;
    border-radius: 3px;
    font-size: 20px;
    padding: 10px 5px;
}
.signup-input:focus,
.use:active {
    outline: none;
}
.registration-button{
    display: block;
    margin: 40px auto;
    text-align: center;
    border: none;
    height: 45px;
    width: 80%;
    background-color: #4d4dff;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.registration-button:hover{
    background-color:#00aaff ;
    box-shadow: 0px 0px 2px 1px gray ;
    transform: scale(1.05);
}